body {
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
}

.bill-container {
  width: 650px;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}



.total-amount {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


input, select {
  padding: 8px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus, select:focus {
  border-color: #007BFF;
}

.qr-container {
  text-align: center;
  margin-top: 20px;
}

.qr-container img {
  width: 120px;
  height: auto;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #070707;
  text-align: center;
}

.delete-btn {
  color: #d75d69;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #56b423;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toast.error {
  background-color: #f1e5e6;
}
