body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.bill-container {
  width: 650px;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
}

.customer-info table {
  width: 100%;
  margin-bottom: 10px;
}

.customer-info td {
  padding: 8px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: #003366;
}

th {
  background-color: #003366;
  color: #fff;
}

.total-amount {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  background-color: #56b423;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input, select {
  padding: 8px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus, select:focus {
  border-color: #007BFF;
}

.qr-container {
  text-align: center;
  margin-top: 20px;
}

.qr-container img {
  width: 120px;
  height: auto;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #070707;
  text-align: center;
}

.delete-btn {
  background-color: #f8f9fa;
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #f1f1f1;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #56b423;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toast.error {
  background-color: #f1e5e6;
}
