/* src/styles/Home.css */

.home-layout {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 220px;
  background-color: #43087a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar button {
  background-color: #43087a;
  color: #ffff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  transition: background 0.3s;
}


.sidebar button:hover {
  background-color: #c6ccd2;
}

.main-content {
  flex: 1;
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  color: #15196a;
}

.home-body {
  margin-top: 60px;
}

.home-body h2 {
  font-size: 24px;
  color: #15196a;
}

.home-body p {
  font-size: 16px;
  color: #333;
}
