/* Invoice.css */

.invoice-container {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #333;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #43087a;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.invoice-header h1 {
  margin: 0;
  color: #43087a;
}

.invoice-logo {
  height: 70px;
  width: auto;
}

.invoice-details p {
  margin: 4px 0;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

table th {
  background-color: #003366;
  color: #fff;
}

/*background-color: #003366;*/


.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}

@media print {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  button {
    display: none !important;
  }
  
}