.product-container {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.product-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-form button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}
.product-table th, .product-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.del-btn {
  background-color: white;
  color: rgb(205, 25, 25);
  margin-left: 10px;
}
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table th,
.product-table td {
  border: 1px solid #ccc;
  text-align: center;
  word-wrap: break-word;
}

.product-table th {
  background-color: #104f8d;
  color: white;
}

.product-table td button {
  margin: 0 5px;
}
